In [1]:
import pandas as pd

In [2]:
lightgbm_preds = pd.read_csv("submissions/lightgbm.csv")
rnn_preds = pd.read_csv("submissions/rnn.csv")

preds = [lightgbm_preds, rnn_preds]
weights = [1, 0.6]

submit = lightgbm_preds.copy()

submit['score'] = sum(pred['score'] * weights[i] for i, pred in enumerate(preds)) / sum(weights)

submit.to_csv('submissions/blended_lgbm_rnn.csv', index=False)

In [3]:
submit

      clientbankpartner_pin     score
0                      6781  0.011001
1                    236905  0.054957
2                    125779  0.206463
3                      1952  0.215587
4                      4872  0.544017
...                     ...       ...
4503                 121120  0.402171
4504                  60667  0.621187
4505                   5065  0.640383
4506                 133125  0.459291
4507                 121963  0.491859

[4508 rows x 2 columns]